{#$header#}
<link rel="stylesheet" href="../../View/resources/css/calendar.css" />
<script language="javascript">
window.onload=Auto;
function Auto()
{
	window.document.getElementById("menu1").style.display="block";
}
</script>
<script type="text/javascript" src="../../View/resources/scirpts/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="../../View/resources/scripts/calendar.js" ></script>  
<script type="text/javascript" src="../../View/resources/scripts/calendar-zh.js" ></script>
<script type="text/javascript" src="../../View/resources/scripts/calendar-setup.js"></script>
<script type="text/javascript">
var xmlHttp

function GetXmlHttpObject()
{
var xmlHttp=null;
try
 {
 // Firefox, Opera 8.0+, Safari
 xmlHttp=new XMLHttpRequest();
 }
catch (e)
 {
 //Internet Explorer
 try
  {
  xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
  }
 catch (e)
  {
  xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
 }
return xmlHttp;
}

function showversion(str)
{ 
xmlHttp=GetXmlHttpObject()
if (xmlHttp==null)
 {
 alert ("Browser does not support HTTP Request")
 return
 }
var url="api_upload2.php"
url=url+"?q="+str
url=url+"&sid="+Math.random()
xmlHttp.onreadystatechange=stateChanged 
xmlHttp.open("GET",url,true)
xmlHttp.send(null)


function stateChanged() 
{ 
if (xmlHttp.readyState==4 || xmlHttp.readyState=="complete")
 { 
  var msg=xmlHttp.responseText 
 strs =msg.split("@");
 
    document.getElementById("show").innerHTML=strs[0]
	 document.getElementById("type").innerHTML=strs[1]
	 dversion=strs[2]
	 
 } 
}

function check_type()
{
   var s=document.getElementById("type_id").value;
   if(s!=='-1')
   {
      a='1';
   }
}

}


function check()
{    
    var type=document.getElementById("type_id").value;
	var t=document.getElementById("stime").value;


//  获取文件后缀名
	 var   len   =   document.getElementById("file").value.length; 
     var   str   =   document.getElementById("file").value; 
     var  suffix =   str.substr(str.lastIndexOf("."),len); 
	 suffix = suffix.toLowerCase()
	 



//判断是否选择API类型	
	if(type!='-1')
	{
	   var a='1';
	}
	
//判断文件类型合法性
    
     
	 if(type=='1')
   {
       if(suffix==".jar")
	   {
	     var file_check='1';
	   }
   }else
     {
	   if(type=='3'||type=='4')
	   { 
	     if(suffix==".sis"||suffix==".sisx")
		 {
		 var file_check='1';
		 }
	   }else if(type=='2')
	   {
	     if(suffix==".dll"||suffix==".dll")
		 {
		 var file_check='1';
		 }
	   }
	 }   
	
	
//判断输入版本号合法性
if(type!='-1')
{    
	var d=dversion;
	var v=document.getElementById("version").value;
    var ver=new Array(d,v)
    ver.sort();
	if(v=v.match(/^[1-9]{1}[.]{1}[0-9]{1}[.]{1}[0-9]{1}$/))
	{  
	   if(d=d.match(/^[\u4e00-\u9fa5\s_a-zA-Z0-9]{1,10}$/))
	 {
	     var b='1';
	 }else
	 {
	    if(ver[1]==v&&d!=v)
		{
		   var b='1';
		}else
		{
		   var b='2';
		}
	
	 }
	}
}	
//判断输入时间合法性   
	if(t=t.match(/^((?:19|20)[\d]{2})-((0?[1-9]{1})|(1[0-2]{1}))-(([012]?[1-9]{1})|(3[0-1]{1})|([1-2]0))$/))
	{
	   var c='1';
	}
//t提交表单
    if(a=='1')
	{
	  if(b=='1')
	   {
	     if(c=='1')
		  { 
		    if(len!="0")
			{
		     if(file_check=='1')
			 {
	           document.getElementById("myForm").submit();
	         }
			 else
			 {
			  alert("文件格式不对！");
			 }
			 }else
			 {
			  alert("请选择文件！");
			 }
		  }  
	  else{   alert("时间格式不对！");}
	   }
   else{
		  if(b=='2')
		{
		alert("版本号太低！"); 
		}else
		{
		alert("版本号格式错误！");   
		}
      }
	}
else{alert("请选择API类型!");}
	
	
}
</script>




	<body><div id="body-wrapper"> <!-- Wrapper for the radial gradient background -->
		
		<div id="sidebar"><div id="sidebar-wrapper"> <!-- Sidebar with logo and menu -->
			
			<h1 id="sidebar-title"><a href="#">Simpla Admin</a></h1>
		  
			<!-- Logo (221px wide) -->
			<a href="#"><img src="../../View/resources/images/logo3.png" width="208" height="31" id="logo" /></a>
			<!-- Sidebar Profile links -->
			<div id="profile-links">{#$username#},您好！<br />
				<br />
				<a href="http://www.nokia.com.cn" title="www.nokia.com.cn">访问NOKIA主页</a> | <a href="../login/index.php" title="登出">登出</a>		  </div>        
			
			{#$sidebar#}
			
			
		</div></div> <!-- End #sidebar -->
		
		<div id="main-content"> <!-- Main Content Section with everything -->			
			<noscript> <!-- Show a notification if the user has disabled javascript -->
				<div class="notification error png_bg">
					<div>
						您的浏览器不支持javascript. 请 <a href="http://browsehappy.com/" title="Upgrade to a better browser">升级</a> 您的浏览器或者查询 <a href="http://www.google.com/support/bin/answer.py?answer=23852" title="Enable Javascript in your browser">失败原因</a> 和解决办法。
					 <a href="http://www.exet.tk">下载浏览器</a></div>
				</div>
			</noscript>
			
			<div class="clear"></div> <!-- End .clear -->
			
			<div class="content-box"><!-- Start Content Box -->
				
				<div class="content-box-header">
					
					<h3>API上传</h3>
					
					
					
					<div class="clear"></div>
					
				</div> <!-- End .content-box-header -->
				
			
					
					<div class="tab-content default-tab" id="tab1"> <!-- This is the target div. id must match the href of this div's tab -->
						
						
						{#$page_out#}
						
					</div> <!-- End #tab1 -->	
			<form id="myForm" action="api_upload.php" method="post"  enctype="multipart/form-data">

			<br>
                   <div>
                         &nbsp选择API类型： <SELECT name = "type_id" id = "type_id" onChange="showversion(this.value)">
                                           <option value="-1" >---请选择---</option>
										   {#$cp_name_pageout#}
                                       </SELECT>
                   </div>
				   
				   <br/>
				   <div id="show">
                     &nbsp当前版本号：&nbsp&nbsp <input  class="text-input small-input" type="test" name="d_version"disabled="disabled" value="" />
                   <br/>    
                   <br/>				   
                     &nbsp更新时间：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <input class="text-input small-input" type="test" name="newest_uptime"  disabled="disabled" value=""/> 
					
                      </div>
					  <br/>
					
                      <hr/>
                     
					  <br/>
                         <div>

                         &nbsp 选择文件：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
						 <input class="text-input small-input" type="file" name="file" id="file" /> 
                         <div id="type">  </div>
				          
                   
                           <br/>
                            <div>
                           &nbsp   最新版本号：&nbsp&nbsp <input class="text-input small-input" type="test" id="version" name="version" value=""/>版本号限制为：版本号递增，格式例如："1.0.0"（第一位数字范围为1~9，后两位数字范围为0~9）
						    </div>
                            <br/>
							<div>
                          &nbsp  更新时间：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							<input name="stime" type="text"  class="text-input small-input" id="stime"  size="10" value="{#$stime#}" maxlength="10" onclick="return showCalendar('stime', 'y-mm-dd');" readonly="readonly"/>

                             <input type="button" class="button"  value="发布" onclick="javascript:check();"/>
							 <input type="hidden" name="submit_test" value="1" />
                            </div>
                         
                   </form> 
					
					<br/>
				</div> <!-- End .content-box-content -->
				<br/>
	       	</div> <!-- End .content-box -->
	
			<!-- End Notifications -->
			
           {#$footer#}
			
		
		
	</div></body>
  

<!-- Download From www.exet.tk-->
</html>
