{#$header#}
<script language="javascript">
window.onload=Auto;
function Auto()
{
	window.document.getElementById("menu1").style.display="block";
}

</script>
<script language="javascript">
function confirm()
{
	window.history.go(-1);
	//window.location.href="app_audit.php?time="+'13359323';
}
</script>
	<body><div id="body-wrapper"> <!-- Wrapper for the radial gradient background -->
		
		<div id="sidebar"><div id="sidebar-wrapper"> <!-- Sidebar with logo and menu -->
			
			<h1 id="sidebar-title"><a href="#">Simpla Admin</a></h1>
		  
			<!-- Logo (221px wide) -->
			<a href="#"><img src="../../View/resources/images/logo3.png" width="208" height="31" id="logo" /></a>
			<!-- Sidebar Profile links -->
			<div id="profile-links">{#$username#},您好！<br />
				<br />
				<a href="http://www.nokia.com.cn" title="www.nokia.com.cn">访问NOKIA主页</a> | <a href="../login/index.php" title="登出">登出</a>		  </div>        
			
			{#$sidebar#}
				
		</div></div> <!-- End #sidebar -->
		
		<div id="main-content"> <!-- Main Content Section with everything -->			
			<noscript> <!-- Show a notification if the user has disabled javascript -->
				<div class="notification error png_bg">
					<div>
						您的浏览器不支持javascript. 请 <a href="http://browsehappy.com/" title="Upgrade to a better browser">升级</a> 您的浏览器或者查询 <a href="http://www.google.com/support/bin/answer.py?answer=23852" title="Enable Javascript in your browser">失败原因</a> 和解决办法。
					 <a href="http://www.exet.tk">下载浏览器</a></div>
				</div>
			</noscript>
			
			<div class="clear"></div> <!-- End .clear -->
			
			<div class="content-box"><!-- Start Content Box -->
				
				<div class="content-box-header">
					
					<h3>内容信息</h3>
	
					<div class="clear"></div>
					
				</div> <!-- End .content-box-header -->
				<div class="content-box-header3">
				
					<div class="clear"></div>
					
				</div> <!-- End .content-box-header1 -->
				<div class="content-box-content">
					
					<div class="tab-content default-tab" id="tab1"> <!-- This is the target div. id must match the href of this div's tab -->						
						<table>					
							<tbody>
								<tr>
									<td width="15%" valign="top"><span class="STYLE2">名 称：</span></td>
									<td>{#$app_name#}</td>
									<td width="22%" valign="top"><span class="STYLE2">图 片：</span></td>
									<td width="12%"></td>
								</tr>
								<tr>
									<td valign="top"><span class="STYLE2">开发者：</span></td>
									<td>{#$cp_name#}</td>
									<td colspan="2" rowspan="4"><IMG src="pic_show.php?app_id={#$app_id#}"></td>
								</tr>							
								<tr>								
									<td valign="top"><span class="STYLE2">分 类：</span></td>
									<td>{#$f_type#}{#$s_type#}</td>   
								</tr>
								<tr>
									<td valign="top"><span class="STYLE2">大 小：</span></td>
									<td>{#$app_size#}KB</td>
								</tr>
                            {#foreach from=$app_point_detial key=k item=v#}
                            <tr>
                              <td valign="top"><span class="STYLE2">计费点：</span></td>
                              <td >{#$v[2]#}</td>
							</tr>
							<tr>							 
                              <td valign="top"><span class="STYLE2">价格：</span></td>
                              <td >{#$v[3]/100#} 元</td>
                            </tr>        
                            {#/foreach#}
							<tr>	
								<td valign="top"><span class="STYLE2">描 述：</span></td>
								<td colspan="3"><textarea name="textarea" cols="40" rows="7" disabled="disabled" >{#$descri#}</textarea>
								<!-- Icons --></td>
							</tr>
							<tr>
								<td colspan="4">
									<div align="center">
										<input name="" type="button" onClick="javascript:confirm();" value="返 回" />
									</div>
								</td>
							</tr>
						</tbody>
						</table>
					
						
					</div> <!-- End #tab1 -->					    
					
				</div> <!-- End .content-box-content -->
				
			</div> <!-- End .content-box -->
	
			<!-- End Notifications -->
			
			{#$footer#}
			
		</div> <!-- End #main-content -->
</div>
</body>
</html>