
{#$header#}
<script language="javascript">
window.onload=Auto;
function Auto()
{
	window.document.getElementById("menu7").style.display="block";
}

</script>
<script type="text/javascript">
function reloadImg()
{
	var verify = document.getElementById('validateCode');
		verify.src = "../login/validateCode.php?rand=" + Math.random();
}
</script>
	<body><div id="body-wrapper"> <!-- Wrapper for the radial gradient background -->
		
		<div id="sidebar"><div id="sidebar-wrapper"> <!-- Sidebar with logo and menu -->
			
			<h1 id="sidebar-title"><a href="#">Simpla Admin</a></h1>
		  
			<!-- Logo (221px wide) -->
			<a href="#"><img src="../../View/resources/images/logo3.png" width="208" height="31" id="logo" /></a>
			<!-- Sidebar Profile links -->
			<div id="profile-links">{#$username#},您好！<br />
				<br />
				<a href="http://www.nokia.com.cn" title="www.nokia.com.cn">访问NOKIA主页</a> | <a href="../login/index.php" title="登出">登出</a>		  </div>        
			
			{#$sidebar#}
			
			
		</div></div> <!-- End #sidebar -->
		
		<div id="main-content"> <!-- Main Content Section with everything -->			
			<noscript> <!-- Show a notification if the user has disabled javascript -->
				<div class="notification error png_bg">
					<div>
						您的浏览器不支持javascript. 请 <a href="http://browsehappy.com/" title="Upgrade to a better browser">升级</a> 您的浏览器或者查询 <a href="http://www.google.com/support/bin/answer.py?answer=23852" title="Enable Javascript in your browser">失败原因</a> 和解决办法。
					 <a href="http://www.exet.tk">下载浏览器</a></div>
				</div>
			</noscript>
			
			<div class="clear"></div> <!-- End .clear -->
			
			<div class="content-box"><!-- Start Content Box -->
				
				<div class="content-box-header">
					
					<h3>修改密码</h3>					
					<div class="clear"></div>
					
				</div> <!-- End .content-box-header -->				
				<div class="content-box-content">
					
						<div class="tab-content default-tab" id="tab1">
					
						<form name="input" action="../../Controller/system_management/pass_modify.php?user_id={#$user_id#}" method="post">
							
							<fieldset> <!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->
								
							<p>
									<label>原密码</label>
										<input class="text-input small-input" type="password" id="pass_old" name="pass_old" value=""/>
										<!--<span class="input-notification success png_bg">可以注册</span>--> <!-- Classes for input-notification: success, error, information, attention -->
								</p>
								
								<p>
									<label>新密码</label>
									<input class="text-input small-input datepicker" type="password" id="pass_new" name="pass_new" value=""/><!-- <span class="input-notification error png_bg">该用户已经存在</span>-->
								</p>
								
								<p>
									<label>重新输入新密码:</label>
									<input class="text-input small-input" type="password" id="pass_new_con" name="pass_new_con" value="" /><!--<span class="input-notification error png_bg">邮箱格式错误</span>-->
								</p>
								<p>
									<label>验证码：</label>
									<input class="text-input" type="text" name="identify" id="identify"  style="width:100px;" />&nbsp;&nbsp;&nbsp;
									<img id="validateCode" src="../login/validateCode.php" onClick="javascript:reloadImg()" height="28" width="88" title="看不清？换一张"/>
								</p>
								<p>
									<input class="button" type="submit" value="确 认" />
								</p>
								
							</fieldset>
							
							<div class="clear"></div><!-- End .clear -->
							
						</form>
						
					</div> <!-- End #tab2 -->       
					      
					
				</div> <!-- End .content-box-content -->
				
			</div> <!-- End .content-box -->
	
			<!-- End Notifications -->
			
		{#$footer#}
			
		</div> <!-- End #main-content -->
		
	</div></body>
  

<!-- Download From www.exet.tk-->
</html>
